<p id="notice" class="text-success"><%= notice %></p>

<h3>Products</h3>

<table class= "table table-dark table-hover text-info">
  <thead>
    <tr>
      <th width="30%" height="10"; >Name</th>
      <th width="30%" height="10"; >Description</th>
      <th width="30%" height="10"; >Price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td width="30%" height="10"; ><%= link_to product.name, product, class:"link-info" %></td>
        <td width="30%" height="10"; ><%= product.description %></td>
        <td width="30%" height="10"; ><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class:"btn btn-info" %>
