<p id="notice" class="text-success"><%= notice %></p>

<h3>Sales</h3>

<table class= "table table-dark table-hover text-info">
  <thead>
    <tr>
      <th>Client</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td width="10%" height="10"; ><%= sale.client.name %></td>
        <td width="10%" height="10"; ><%= sale.product.name %></td>
        <td width="2%" height="10"; ><%= link_to 'Show', sale, class:"btn btn-info" %></td>
        <td width="2%" height="10"; ><%= link_to 'Edit', edit_sale_path(sale), class:"btn btn-info" %></td>
        <td width="2%" height="10"; ><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path, class:"btn btn-info"%>
